<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT= "no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT= "Wed, 26 Feb 1997 08:21:57 GMT"> 
    <title>sams-index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user/index/index.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <!--<script type="text/javascript" src="/SAMS/public/static/js/user/index/index.js"></script>-->
</head>
<body>
   <div id="container">
	   	<div id="content">
	   		<form action="index/add" method="post" name="loginForm" class="loginForm">
			
				<input class="button" type="submit" name="333" id="22" value="登        录" />
				<!--<p class="loginUserHint loginHint"></p>-->
			</form>
	   </div>
   </div>
</body>
</html>
