<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主要内容区main</title>
    <link href="/static/css/admin/css.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/admin/main.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/admin/add.css" type="text/css" rel="stylesheet" />
    <SCRIPT type=text/javascript src="/static/js/admin/md5.js"></SCRIPT>

    <link rel="shortcut icon" href="/static/img/images/main/favicon.ico" />
    <style>

    </style>
</head>

<body>
    <!--main_top-->
    <table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
        <tr>
            <!-- <td width="99%" align="left" valign="top">您的位置：用户管理&nbsp;&nbsp;>&nbsp;&nbsp;添加用户</td> -->
        </tr>
        <tr>
            <td align="left" valign="top">
                <form method="post" action="admin_add">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray"> 名称：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input type="text" name="name" value="" class="text-word">
                            </td>
                        </tr>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">密码：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input type="text" name="pwd" value="" class="text-word">
                            </td>
                        </tr>
                        <!-- <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">性别：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input type="radio" name="sex" value="m">男
                                <input type="radio" name="sex" value="w">女
                            </td>
                        </tr> -->
                        <!-- <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">班级：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <select name="classid" id="level">
        <option value="1401" >1401</option>
        <option value="1402" >1402</option>
        <option value="1403" >1403</option>
        </select>
                            </td>
                        </tr> -->
                        <script>
                            //验证管理员密码
                            function checkPwd() {
                                //获取输入密码
                                var pwd = prompt("请输入管理员密码", "");
                                //获取管理员密码
                                value = "{$pwd}";
                                //验证
                                if (hex_md5(pwd) == value) {
                                    alert('密码正确,身份验证成功');
                                } else {　　
                                    alert("密码错误,身份验证失败");
                                    return false;
                                }
                            }
                        </script>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">&nbsp;</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input name="" type="submit" value="提交" onclick="return checkPwd()" class="text-but">
                                <input name="" type="reset" value="重置" class="text-but"></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>