<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台页面头部</title>
    <link href="/static/css/admin/css.css" type="text/css" rel="stylesheet" />
</head>

<body onselectstart="return false" oncontextmenu=return(false) style="overflow-x:hidden;">
    <!--禁止网页另存为-->
    <noscript><iframe scr="*.htm"></iframe></noscript>
    <!--禁止网页另存为-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="header">
        <tr>
            <td rowspan="2" align="left" valign="top" id="logo"><img src="/static/img/images/main/logo.jpg" width="74" height="64"></td>
            <td align="left" valign="bottom">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="bottom" id="header-name">河池学院</td>
                        <td align="right" valign="top" id="header-right">
                            <a href="loginOut" target="topFrame" onFocus="this.blur()" class="admin-out">注销</a>
                            <a href="index.php" target="top" onFocus="this.blur()" class="admin-home">管理首页</a>
                            <a href="index.php" target="_blank" onFocus="this.blur()" class="admin-index">网站首页</a>
                            <span>
<!-- 日历 -->
<SCRIPT type=text/javascript src="/static/js/admin/clock.js"></SCRIPT>
<SCRIPT type=text/javascript src="/static/js/admin/button.js"></SCRIPT>
<SCRIPT type=text/javascript src="/static/js/admin/jquery-3.4.1.js"></SCRIPT>

<script>
function queryTime(obj) {
    //清空其它同类按钮选中颜色
    // $('button[id^="SupendButton-"]').css("background-color", "#fff");
    // $('button[id^="SupendButton-"]').addClass('SupendButton button');
    
    // TODO:hover事件更换背景图，点击后重设css背景图属性后，hover事件更换背景图失效，暂时移除hover事件更换背景图属性
    // FIXME:寻找能返回标签原始属性的方法；
    $('button[id^="SupendButton-"]').css({        
    "width": "87px",
    "height": "37px",
    "line-height": "32px",
    "margin": "0 2px 0 0",
    "display": "inline",
    "text-align": "center",
    "font-size": "14px",
    "font-weight": "bold",
    "background": "url(/static/img/images/main/menu.jpg) no-repeat left bottom",
    "float": "left",
    // "color":"black"
    });

    // $('button[id^="SupendButton-"]').removeAttr("background")
    
    // $('button[id^="SupendButton-"]').removeClass('SupendButton');

    // $('button[id^="SupendButton-"]').addClass('SupendButton');


    // $(obj).css("background-color", "#01AAED");
    //点击后变色
    $(obj).css({ 
        "background": "url(/static/img/images/main/menuon.jpg) no-repeat left bottom",
        // "color": "#FFF"
    });
}
</script>
<!-- <body>
        <div id="head-menu" class="SupendButton">
                            <button id="SupendButton-one" class="SupendButton" onfocus="this.blur()" onclick="queryTime(this)">日报</button>
                            <button id="SupendButton-two" class="SupendButton" onclick="queryTime(this)">月报</button>
                            <button id="SupendButton-three" class="SupendButton" onclick="queryTime(this)">年报</button>

                        </div i>
</body>
                     -->

<SCRIPT type=text/javascript>showcal();</SCRIPT>
            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="bottom">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="top" id="header-admin">学生管理系统</td>
                        <td align="left" valign="bottom" id="header-menu" class="SupendButton">
                            <a href="index_main" onFocus="this.blur()" target="mainFrame"><button style="background:url(/static/img/images/main/menuon.jpg) no-repeat left bottom ;" id="SupendButton-one" onclick="queryTime(this)">系统首页</button></a>
                            <a href="admin_add" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-two" onclick="queryTime(this)"  >用户管理</button></a>
                            <a href="student_add" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-three" onclick="queryTime(this)">栏目管理</button></a>
                            <a href="index.php" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-four" onclick="queryTime(this)">信息管理</button></a>
                            <!-- <button href="index.php" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-five" onclick="queryTime(this)">留言管理</button></a> -->
                            <a href="index.php" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-six" onclick="queryTime(this)">附件管理</button></a>
                            <a href="index.php" onFocus="this.blur()" target="mainFrame"><button id="SupendButton-seven" onclick="queryTime(this)">站点管理</button></a>
                        </td>
                        <td align="right" valign="bottom" id="header-menu" class="SupendButton">
                            <a href="admin_add" onFocus="this.blur()" target="mainFrame"><button style="background: chocolate;"  >添加管理员</button></a>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>