<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加分数</title>
    <link href="/static/css/admin/css.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/admin/main.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/admin/add.css" type="text/css" rel="stylesheet" />
    <!-- <SCRIPT type=text/javascript src="/static/js/admin/md5.js"></SCRIPT> -->

    <link rel="shortcut icon" href="/static/img/images/main/favicon.ico" />
    <style>

    </style>
</head>

<body>
    <!--main_top-->
    <table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
        <tr>
            <td align="left" valign="top">
                <form method="post" action="score_update?id={$id}">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">语文：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input type="number" name="chinese" value="{$chinese}" class="text-word">
                            </td>
                        </tr>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">数学：</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input type="number" name="mathematics" value="{$mathematics}" class="text-word">
                            </td>
                        </tr>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff' " onMouseOver="this.style.backgroundColor='#edf5ff' ">
                            <td align="right " valign="middle " class="borderright borderbottom bggray ">英语：</td>
                            <td align="left " valign="middle " class="borderright borderbottom main-for">
                                <input type="number" name="english" value="{$english}" class="text-word">
                            </td>
                        </tr>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff' " onMouseOver="this.style.backgroundColor='#edf5ff' ">
                            <td align="right " valign="middle " class="borderright borderbottom bggray ">学期：</td>
                            <td align="left " valign="middle " class="borderright borderbottom main-for ">
                                <select name="semester" id="level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                </select>
                            </td>
                        </tr>
                        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                            <td align="right" valign="middle" class="borderright borderbottom bggray">&nbsp;</td>
                            <td align="left" valign="middle" class="borderright borderbottom main-for">
                                <input name="" type="submit" value="提交" onclick="" class="text-but">
                                <input name="" type="reset" value="重置" class="text-but"></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>